{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-sm">
    <form action="/movies" method="POST">
      <fieldset>
        <legend>Create New Movie</legend>
        <label class="form-label">Name:
        </label>
        <input class="form-control" type="text" name="name" placeholder="enter the name of the movie">
        <label class="form-label">Genre:
        </label>
        <input class="form-control" type="text" name="genre" placeholder="what genre is the movie?">
      </fieldset>
      <input class="btn btn-success" type="submit" value="Create New Movie">
    </form>
  </div>

{% endblock %}
